parameters:
	ignoreErrors:
		-
			message: "#^Method Loghy\\\\SDK\\\\Contract\\\\LoghyInterface\\:\\:deleteUser\\(\\) has parameter \\$loghyId with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contract/LoghyInterface.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Exception\\\\InvalidResponseBodyStructureException\\:\\:__construct\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/InvalidResponseBodyStructureException.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Exception\\\\InvalidResponseBodyStructureException\\:\\:getResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/InvalidResponseBodyStructureException.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:deleteUser\\(\\) has parameter \\$loghyId with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:getResponseJson\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:getResponseJson\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:requestApi\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:requestApi\\(\\) has parameter \\$json with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:requestApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:setToken\\(\\) has parameter \\$token with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:socialProviderTokens\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:token\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Method Loghy\\\\SDK\\\\Loghy\\:\\:verify\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Property Loghy\\\\SDK\\\\Loghy\\:\\:\\$userToken type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Loghy.php

		-
			message: "#^Class Loghy\\\\SDK\\\\User implements generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/User.php

		-
			message: "#^Method Loghy\\\\SDK\\\\User\\:\\:getRaw\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/User.php

		-
			message: "#^Method Loghy\\\\SDK\\\\User\\:\\:map\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/User.php

		-
			message: "#^Method Loghy\\\\SDK\\\\User\\:\\:setRaw\\(\\) has parameter \\$user with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/User.php

		-
			message: "#^Property Loghy\\\\SDK\\\\User\\:\\:\\$user type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/User.php
